body {
    color: white; font-family: 'Poppins', sans-serif;
    margin-left:auto;
    margin-right:auto;
}


#map {
    position: absolute;
    top: 5%;
    left: 5%;
    height: 90%;
    width: 90%;
    overflow: hidden;
    display: none;
    opacity: 0.8;
    text-align: center;
    background-color: #000000;
    z-index: 1;

}


#modal {
    position: absolute;
    top: 5%;
    left: 5%;
    height: 90%;
    width: 90%;
    overflow: hidden;
    opacity: 0.8;
    text-align: center;
    background-color: #000000;
    z-index: 0;

}